.header__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.search {
  display: flex;
  width: auto;
}