:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout-header {
  display: flex;
  justify-content: center;
  background-color: #CCCCCC;
  height: 100px
}

.main-layout-wrapper {
  flex-grow: 1;
  display: flex;
  width: 100%;

  .main-layout-navigation {
    width: 150px;
    background-color: #DDDDDD;
  }

}
