.main-layout-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 2rem;
  background-color: #efefef;
  height: 3rem;
}

.title {
  font-weight: bolder;
  font-size: 1.2rem;
  color: #5d5d5d;
}
